.card{
    width: 20rem;
    background-color: #CEB068;
}

.home{
    margin: 0% 5%;
    background-color: #CCDD8B;
}

.form-color{
    background-color: #4E7F9C;
    padding: 0% 5rem;
}

button{
    border-radius: 70rem !important;
}

.container{
    margin-top: 10%;
}

nav{
    background-color: rgba(54, 158, 149, 0.575);
}

body{
    background-color: #8F540D;
}

.col{
    column-gap: 2;
}

.box1{
    background-color: #955F97;
}

.box2{
    background-color: #B8C864;
}